# Core functionality - changes here should be rare!
/src/app.py                   @colew658
/src/backend/database.py      @colew658
/src/backend/routers/auth.py  @colew658

# The frontend will need refactored soon to be more object oriented.
/src/static/   @colew658
